{% extends 'layout.html' %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Notas del curso: {{ curso.nombre }}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Nombre del Laboratorio</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
            <!-- LISTADO DE laboratorios -->
            {% for laboratorio in laboratorios %}
            <tr>
              <td>{{ laboratorio.nombre }}</td>
              <td>
                {% for nota in notas %} {% if nota.laboratorio == laboratorio %}
                {{ nota.nota }} {% endif %} {% endfor %}
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td>Promedio</td>
              <td>{{ promedio_notas }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div style="display: inline-block; margin-right: 10px">
          <a href="/" class="btn btn-primary">Ir a la página principal</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
