{% extends 'layout.html' %}

{% block content %}
<table>
    <thead>
      <tr>
        <th>Laboratorio</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(1, 17) %}
      <tr>
        <td>LABORATORIO {{ i }}</td>
        <td>{{ notas.getattribute('Laboratorio_'|add:i) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
{% endblock %}

<style>
    .notas-table {
        border-collapse: collapse;
        width: 100%;
    }

    .notas-table th,
    .notas-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    .notas-table th {
        background-color: #f2f2f2;
    }
</style>
